<div class="container">

  <div>
    <div class="card-group card1">

      <div class="card borderCard">

        <div class="card-body">
          <h5 class="card-title">Melhor Cenário</h5>
          <p class="card-text">E se ferramenta engajar o suficiente, aumentando uma venda diária pra cada vendedor?
            Confira seus ganhos </p>
          <ul class="list-group">
            <li id="melhorCenario" class="list-group-item d-flex justify-content-between align-items-center">
              Taxa de Crescimento
              <span [ngStyle]="(use.melhorCenario[0])>0?{'background-color':'#42f575'} : {'background-color': '#f2433a'}" [innerHTML]="use.melhorCenario[0]+'%'" class="badge badge-success badge-pill"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Lucro Mensal
              <span [ngStyle]="(use.melhorCenario[0])>0?{'background-color':'#42f575'} : {'background-color': '#f2433a'}" [innerHTML]="'R$'+use.melhorCenario[3]+',00'" class="badge badge-success badge-pill"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Lucro Anual
              <span [ngStyle]="(use.melhorCenario[0])>0?{'background-color':'#42f575'} : {'background-color': '#f2433a'}" [innerHTML]="'R$'+use.melhorCenario[4]+',00'" class="badge badge-success badge-pill"></span>
            </li>

          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cenário Personalizado</h5>
          <p class="card-text">Use nosso simulador de crescimento de vendas, com ele você terá um norte para saber se
            vale a pena ou não contratar a ferramenta </p>
          <form #f="ngForm">
            <div>
              <label for="formControlRange">Simule o aumento em %</label>
              <input name="CenarioPersonalizado" ngModel type="range" id="formControlRange" min="1" max="100"
                oninput="this.nextElementSibling.value = this.value"><output id="output">50
              </output>
              <input (click)="simulaCenarioPersonalizado(f)" id="btnSimularCenario" class="btn btn-lg btn-block"
                value="Simular">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



  <div class="jumbotron jumbotron-fluid" id="jumb" *ngIf="jumb">
    <div class="container">
      <h3 *ngIf="valeContratar" class="vale">VALE A PENA CONTRATAR <span style="color: #42f575;">
          <i class="fa fa-check-square" aria-hidden="true"></i>
        </span>
      </h3>
      <h4 *ngIf="!valeContratar" class="vale">Com as métricas atuais da empresa, no momento não vale a pena contratar
      </h4>
      <h4 id="melhorCenario" class="list-group-item d-flex justify-content-between align-items-center">
        Taxa de Crescimento
        <span
          [ngStyle]="(use.cenarioPersonalizado[3])>0?{'background-color':'#42f575'} : {'background-color': '#f2433a'}"
          [innerHTML]="use.cenarioPersonalizado[0]+'%'" class="badge badge-success badge-pill"></span>
      </h4>
      <h4 class="list-group-item d-flex justify-content-between align-items-center">
        Venda Extra
        <span
          [ngStyle]="(use.cenarioPersonalizado[3])>0?{'background-color':'#42f575'} : {'background-color': '#f2433a'}"
          [innerHTML]="'R$'+use.cenarioPersonalizado[1]+',00'" class="badge badge-success badge-pill"></span>
      </h4>
      <h4 class="list-group-item d-flex justify-content-between align-items-center">
        Lucro Mensal
        <span
          [ngStyle]="(use.cenarioPersonalizado[3])>0?{'background-color':'#42f575'} : {'background-color': '#f2433a'}"
          [innerHTML]="'R$'+use.cenarioPersonalizado[3]+',00'" class="badge badge-success badge-pill"></span>
      </h4>
      <h4 class="list-group-item d-flex justify-content-between align-items-center">
        Lucro Anual
        <span
          [ngStyle]="(use.cenarioPersonalizado[3])>0?{'background-color':'#42f575'} : {'background-color': '#f2433a'}"
          [innerHTML]="'R$'+use.cenarioPersonalizado[4]+',00'" class="badge badge-success badge-pill"></span>
      </h4>
    </div>
  </div>
</div>